/* ==========================================================================
   Custom styles
   ========================================================================== */
html {
  /*background-image: url('http://www.truevaluemaintenance.com/img/wood.jpg');*/
  background-image: url('../img/wood.jpg');
}

body, a {
  color: #333;
  background: none;
  text-align: center;
}

a {
  text-decoration: underline;
}

#mce-EMAIL {
  width: 75%;
  color: #666;
  font-size: 3em;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
}

#mc-embedded-subscribe {
  width: 75%;
  font-size: 2em;
  line-height: 1;
  margin: 1em auto;
  text-align: center;
}

.white-bg, footer {
  /*background: rgba(0,0,0,0.5); black */
  background: rgba(255,255,255,0.75);
  margin: 0 3em;
  padding: 1em 1em;
}

footer {
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0;
}

ul {
  width: 75%;
  margin: auto;
  text-align: left;
}

li {
  list-style: none;
}

li img {
  max-width: 50% !important;
  vertical-align: middle !important;
}